.main-header-title {
    padding: 0 5px 0 0;
}

.main-header-filter {
    width: 200px;
    padding: 12px 170px 0 0;
    margin: 0 12px 0 5px;
}

.main-header-link {
    width: 170px;
    padding: 12px 10px 0 0;
}

.main-header-link button {
    height: 30px;
}

.select2-container .select2-selection--single {
    width: 210px;
    background-color: #f4f8ff !important;
    border: 1px solid #051225 !important;
    height: 30px !important;
    border-radius: 3px !important;
    border-color: #999ca3 !important;
}

.select2-dropdown {
    width: 210px !important;
}

.select2-selection__arrow {
    left: 185px;
}

#main-table .service__table,
#main-table .article-name__table {
    white-space: normal;
}

#main-table .hierarchy-sections {
    text-align: center !important;
    padding: 2px;
}

th {
    white-space: normal;
    padding: 8px 5px;
    font-size: 12px;
}

#main-table thead tr:first-child th {
    white-space: nowrap !important;
}


#main-table tbody td {
    word-break: normal !important;
    padding: 10px 10px;
}

#main-table tbody td:nth-child(2n + 8) {
    padding: 7px 35px;
}

#main-table tbody td:nth-child(2n + 9) {
    padding: 7px 40px;
}

.sign_vat {
    background-color: #fccaca !important;
}

/* background-color: #cddaf5; */

/* background-color: #b9caed; */

#main-table thead tr:first-child th:nth-child(n + 10):nth-child(-n + 12),
#main-table thead tr:first-child th:nth-child(n + 14):nth-child(-n + 16),
#main-table thead tr:first-child th:nth-child(n + 18):nth-child(-n + 20),
#main-table thead tr:first-child th:nth-child(n + 22):nth-child(-n + 24),
#main-table thead tr:last-child th:nth-child(n + 5):nth-child(-n + 10),
#main-table thead tr:last-child th:nth-child(n + 13):nth-child(-n + 18),
#main-table thead tr:last-child th:nth-child(n + 21):nth-child(-n + 26),
#main-table thead tr:last-child th:nth-child(n + 29):nth-child(-n + 35),
#main-table tbody td:nth-child(n + 12):nth-child(-n + 17),
#main-table tbody td:nth-child(n + 20):nth-child(-n + 25),
#main-table tbody td:nth-child(n + 28):nth-child(-n + 33),
#main-table tbody td:nth-child(n + 36):nth-child(-n + 41) {
    background-color: #e3eaf7;
}

#main-table thead tr:first-child th:nth-child(9),
#main-table thead tr:first-child th:nth-child(13),
#main-table thead tr:first-child th:nth-child(17),
#main-table thead tr:first-child th:nth-child(21),
#main-table thead tr:last-child th:nth-child(n + 3):nth-child(-n + 4),
#main-table thead tr:last-child th:nth-child(n + 11):nth-child(-n + 12),
#main-table thead tr:last-child th:nth-child(n + 19):nth-child(-n + 20),
#main-table thead tr:last-child th:nth-child(n + 27):nth-child(-n + 28),
#main-table tbody td:nth-child(n + 10):nth-child(-n + 11),
#main-table tbody td:nth-child(n + 18):nth-child(-n + 19),
#main-table tbody td:nth-child(n + 26):nth-child(-n + 27),
#main-table tbody td:nth-child(n + 34):nth-child(-n + 35) {
    background-color: #cad6ef;
}

#main-table thead tr:first-child th:nth-child(8),
#main-table thead tr:last-child th:nth-child(n + 1):nth-child(-n + 2),
#main-table tbody td:nth-child(n + 8):nth-child(-n + 9) {
    background-color: #c1cdeb;
}

#main-table tbody td:nth-child(n + 8):nth-child(-n + 41) {
    white-space: nowrap;
}

.hierarchy-sections {
    background-color: #e3e9f6 !important;
}

#main-table table tbody tr .main-section__table {
    background-color: #d2dbed !important;
}

#main-table table tbody tr .section__table {
    background-color: #e1e7f5 !important;
}

#main-table table tbody tr .subsection__table {
    background-color: #eef1fa !important;
}

#main-table table tbody .hover__table__tr:hover td {
    background: #eef1f6;
    color: #000;
}


#main-table thead .sticky-table-column {
    z-index: 3;
    left: 0;
    top: 0;
    position: relative !important;
}

#main-table thead tr:last-child th {
    top: 33px;
    min-width: 125px;
}

#main-table .main-table-th {
    z-index: 4 !important;
    border-width: 1px 1px 1px 0;
}

#main-table tbody .sticky-table-column {
    z-index: 2;
    left: 0;
    top: 0;
    position: relative !important;
}

.upper-save-panel {
    min-height: 20px;
    margin: 0;
    width: 180px;
}

.main-header-title {
    margin: 10px 0 0 100px;
}

.sign-edit__image {
    width: 8px;
}

.td-toolbar {
    display: flex;
}

#main-table-th-id, #main-table-th-actions {
    width: auto;
}

